* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: dotted 1px black; */
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    width: 100vw;
    /* border: dashed 1px black; */
    background: url('gradients/grad1.avif') no-repeat center;
    background-size: cover;
}

.container {
    /* border: solid 1px red; */
    width: 100%;
    height: 100%;
}

.nav-bar {
    height: 68px;
    width: min(400px,100vw);
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 34px;
    padding: 3px;
    background: #f3f3f3;
    /* backdrop-filter: blur(6px) brightness(1.9); */
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
    container-type: size;
}

#thumb {
    position: absolute;
    z-index: -1;
    left: 3px;
    /* border: solid 1px red; */
    height: calc(100% - 6px);
    width: calc((100% - 6px)/4);
    background: black;
    border-radius: 50cqh;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.nav-item {
    cursor: pointer;
    /* border: solid 1px red; */
    height: 100%;
    display: flex;
    font-weight: 600;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    border-radius: 50cqh;
}
.nav-item-name {
    font-size: 0.8em;
}
.nav-item-icon {
    font-size: 1.3em;
}

.nav-item.active {
    color: #f3f3f3;
    background: transparent;
}

.nav-item.psuedo-active {
    color: black;
}

#thumb.sliding {
    transform: scale(1.1);
    border: solid 1px grey;
    background: #fff5;
    backdrop-filter: brightness(2);
    /* box-shadow: inset 2px 3px 10px black; */



    transition: opacity 0.26 ease-out;
    filter: drop-shadow(-8px -10px 46px #000000c2);
    backdrop-filter:blur(2px) url(#displacementFilter);
    background-color: #ffffff89;
}

#thumb.sliding::before {
    content: '';
    /* border: solid 2px red; */
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    border-radius: 50cqh;
    -webkit-box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7),
        inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
    box-shadow: inset 6px 6px 0px -6px rgba(255, 255, 255, 0.7),
        inset 0 0 8px 1px rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 425px) {
    .nav-bar {
        bottom: 0px;
        border-radius: 0;
        width: 100vw;
        height: 76px;
    }
}