:root {
    --font: "Alumni Sans SC", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: dotted 1px black; */
    
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    width: 100vw;
    /* border: dashed 1px black; */
    background-size: cover;
}

.container {
    /* border: solid 1px red; */
    width: 100%;
    height: 100%;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.nav-bar {
    height: 68px;
    width: min(400px, 100vw);
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 34px;
    padding: 3px;
    background: #fff;
    /* backdrop-filter: blur(6px) brightness(1.9); */
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    filter: drop-shadow(0px 0px 10px #00000010);
    border: solid 1px grey;

    display: flex;
    justify-content: center;
    align-items: center;
    container-type: size;
}

#thumb {
    position: absolute;
    z-index: -1;
    left: 3px;
    /* border: solid 1px red; */
    height: calc(100% - 6px);
    width: calc((100% - 6px)/4);
    background: black;
    border-radius: 50cqh;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.nav-item {
    cursor: pointer;
    /* border: solid 1px red; */
    height: 100%;
    display: flex;
    font-weight: 600;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    border-radius: 50cqh;
}
.nav-item-name {
    font-size: 0.9em;
}
.nav-item-icon {
    font-size: 1.5em;
}

.nav-item.active {
    color: #f3f3f3;
    background: transparent;
}

.nav-item.psuedo-active {
    color: black;
}

#thumb.sliding {
    transform: scale(1.2, 1.4);
    border: solid 1px #0009;
    background: #fff2;
    border-radius: 16px;
    /* box-shadow: inset 2px 3px 10px black; */



    transition: opacity 1 ease-out;
    filter: drop-shadow(-8px -10px 46px #000000c2);
    backdrop-filter: brightness(1.2) blur(1px) contrast(2) saturate(1.3) url(#displacementFilter);
}

#thumb.sliding::before {
    content: '';
    /* border: solid 2px red; */
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    border-radius: 16px;
    -webkit-box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7),
        inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
    box-shadow: inset 6px 6px 0px -6px rgba(255, 255, 255, 0.7),
        inset 0 0 8px 1px rgba(255, 255, 255, 0.7);
}
.weather-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 126px);
}

@media screen and (max-width: 425px) {
    .nav-bar {
        bottom: 0px;
        border-radius: 0;
        width: 100vw;
    }
}

#temperature {
    font-size: 6rem;
    font-weight: 700;
}

#condition {
    font-size: 2rem;
}

.weather-content * {
    letter-spacing: 2px;
    /* border: solid 1px blue; */
    font-size: 2rem;
    font-weight: 700;
}

.top-bar {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px grey;
    /* border-radius: 10px; */
}

.top-bar h1 {
    margin: auto;
    text-align: center;
}