* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: dotted 1px black; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    /* border: dashed 1px black; */
    background: url('gradients/grad1.avif') no-repeat center;
    background-size: cover;
}

.container {
    /* border: solid 1px red; */
    width: 100%;
    height: 100%;
}

.nav-bar {
    height: 68px;
    width: 396px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 34px;
    padding: 3px;
    background: #f3f3f3;
    /* backdrop-filter: blur(6px) brightness(1.9); */

    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    container-type: size;
}

.nav-item {
    cursor: pointer;
    /* border: solid 1px red; */
    height: 100%;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    border-radius: 50cqh;
}

.nav-item.active {
    background: black;
    color: #f3f3f3;
}
